<table width="100%">
    <tr>
        <td width="60">
            <img src="~/Css/images/logo.png" style="height:50px" />
        </td>
        <td style="font-family: 黑体; font-size: 24px; color: #FFF" valign="middle">康迪普瑞管理系统</td>
    </tr>
</table>
 